.footer {
  background-color: #d6e9f5;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}


.footer-content {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-section li:hover {
  text-decoration: underline;
  color: #0073e6;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}
